@import "tailwindcss";


* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

@theme {
  --color-bg: #50b8ff;
  --color-bg-2: #256a9a;
  --color-surface: #f4e7e7;
  --color-surface-2: #f1e3e3;
  --color-text: #000000;
  --color-accent: #ff7e26;
  --color-button: #73ef7a;

  --text-h1: 48px;
  --text-h2: 32px;
  --text-h3: 24px;
  --text-h4: 18px;
  --text-h5: 16px;
  --text-body: 16px;
  --text-secondary: 14px;

  --shadow-card:
    6px 6px 0 rgba(0,0,0,0.9);

  --stroke: 3px;
  --shadow-brutal: 4px 4px 0 rgba(0,0,0,0.9);
  --shadow-brutal-pressed: 2px 2px 0 rgba(0,0,0,0.9);

  --radius-button: 14px; 

  --font-inter: Inter, sans-serif;
  --font-pixel: "Jersey 25", sans-serif;

}

@layer base {
  h1 {
    font-size: var(--text-h1);
    line-height: 80%;
    
    font-weight: 900;
    font-family: var(--font-pixel);
    
    text-shadow: -2px -2px 0 var(--color-text), 0px -2px 0 var(--color-text),
      2px -2px 0 var(--color-text), -2px 0px 0 var(--color-text),
      2px 0px 0 var(--color-text), -2px 2px 0 var(--color-text),
      0px 2px 0 var(--color-text), 2px 2px 0 var(--color-text),
      4px 4px 0 var(--color-text);
  }

  h2 {
    font-size: var(--text-h2);
    line-height: 80%;
    
    font-weight: 500;
    font-family: var(--font-pixel);
    
  
  }
}

/* real hitbox */
.btn {
  position: relative;
  display: inline-flex;
  width: 100%;             
  padding: 0;               
  border: 0;
  background: transparent;
  cursor: pointer;
  user-select: none;
}

/* fixed shadow behind everything */
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--radius-button);
  box-shadow: var(--shadow-brutal);
  transform: translate(-1px, -1px);
  pointer-events: none;
}

/* moving face (includes border + background + label) */
.btn__face {
  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: var(--radius-button);
  border: var(--stroke) solid var(--color-text);

  transform: translate(0, 0);
  transition: transform 0.08s ease;
}

/* press = face moves down over the shadow */
.btn:active .btn__face {
  transform: translate(4px, 4px);
}

.inset-divider {
  height: 2px;
  width: 100%;
  margin-top: 8px;
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.18),
      rgba(255,255,255,0.5)
    );
}

.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges; 
}
